include Readme.md
include LICENSE
recursive-include config *.py
recursive-include plot *.py
recursive-include examples *.py
graft config
graft plot
prune tests
prune __pycache__
prune *.pyc
prune *.pyo
prune .git
prune .pytest_cache
prune venv
prune dist
prune *.egg-info
